# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Python packaging
*.egg-info/
dist/
build/
